.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1ac68d;
}
.nav-link:focus, .nav-link:hover {
  background-color: #1ac68d;
  border-radius: 20px;
  color: white;
  transition: all 0.5s ease-out;
}
.nav-link {
  color: #1ac68d;
}
.carrito{
  color: #1ac68d;
}
.cantidad{
  width: 50px;
text-align: center;
border: 1px solid #1ac68d52;
}

.verde{
  background-color: #1ac68d;
  color: #fff;
}

.card{
  width: 18rem;
}

.card-img-top{
  object-fit: cover;
  object-position: center center;
  width: 100%;
  max-height: 280px;
}